<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="node_modules/@nasaworldwind/worldwind/build/dist/worldwind.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="satelite.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="globe" class="container">
            <h1>ORBITANI</h1>
            <div class="row">
                <div class="col-sm-3">
                    <h3>Time: {{ datetime }}</h5>
                    <p>Time Slider: {{ timer }} min</p>
                    <input type="range" list="tickmarks" min="-60" max="60" value="0" step="5" style="width: 100%;" v-model="timer" >
                    <br>
                    <p>Destination:</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" v-model="queryString">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="goTo">Go</button>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" @click="toggle">
                        <label class="custom-control-label" for="customCheck1">Show Debris</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <canvas id="canvasOne" width="1000" height="1000" style="width: 100%; height: auto; background-color: black;">
                        Your browser does not support HTML5 Canvas.
                    </canvas>
                </div>
            </div>
        </div>
        <script src="index.js" type="text/javascript"></script>
    </body>
</html>
