body {
    background-color: black;
    font-size: small;
}

h1, p, label {
    color: white;
}

p {
    margin-bottom: 10px;
}

.title {
    font-family: PhosphatePro;
    text-align: center;
}

@font-face {
    font-family: PhosphatePro;
    src: url(/assets/fonts/PhosphatePro-Inline.woff) format("woff");
}